<div fxLayout="column" fxLayoutAlign="space-around center"></div>
<div class="bar">
  <input class="bar-input" type="radio" name="input" id="input_0" checked="false" disabled />
  <div class="bar-view">
    <label class="bar-button" for="input_0"></label>
  </div>
  <input class="bar-input" type="radio" name="input" id="input_1" checked="false" disabled />
  <div class="bar-view">
    <label class="bar-button" for="input_1"></label>
  </div>
  <input class="bar-input" type="radio" name="input" id="input_2" checked="false" disabled />
  <div class="bar-view">
    <label class="bar-button" for="input_2"></label>
  </div>
  <input class="bar-input" type="radio" name="input" id="input_3" checked="true" (click)="clickAble()" />
  <div class="bar-view"><br>
    <label class="bar-button" for="input_3"></label>
  </div>
</div><br><br><br>

<!-- For FYP Project -->

<div fxLayout="column" fxLayoutAlign="space-around center" style="margin-bottom: 5%">
  <center>
    <h2>Mailing Address / Permanent Address</h2>
  </center>
</div>
<!-- <br><br><br> -->
<!-- 
<div class="form">
  <form [formGroup]="studentForm" (ngSubmit)="saveStudentDetails(studentForm.value)"> -->
    <!-- <label> Phone Number&nbsp;<mdb-icon far icon="question-circle"
        mdbTooltip="Please use an invalid phone number. If you are using an internationl phone number, please start with +(Country code)"
        placement="right"></mdb-icon>
    </label>
    <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" minlength=11 maxlength=11
      style="max-width: 44%; border: 1px solid" formControlName="phone" (keypress)="keyPress($event)"><br>
    <h5> Address</h5>
    <div class="two-col">
      <div class="col1">
        <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" style="border:1px solid"
          formControlName="address1">
      </div>
      <div class="col2">
        <input type="text" [mdbValidate]="false" class="form-control" style="border:1px solid"
          formControlName="address2"><br>
      </div>
    </div>
    <label for="postcode" style="width: 350px; margin: 0 20px 0 0;">
      <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">Postcode</span>
      <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" id="company"
        style="width: 350px; border: 1px solid #000; padding: 5px;" formControlName="postcode" />
    </label>
    <label for="city" style="width: 350px; margin: 0 25px 0 0;">
      <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">City</span>
      <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" id="contact"
        style="width: 350px; border: 1px solid #000; padding: 5px;" formControlName="city" />
    </label>
    <label for="state" style="width: 350px; margin: 0 20px 0 0;">
      <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">State</span>
      <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" id="company"
        style="width: 350px; border: 1px solid #000; padding: 5px;" formControlName="state" />
    </label>
    <label for="country" style="width: 350px; margin: 0 20px 0 0;">
      <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">Country</span>
      <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" id="contact"
        style="width: 350px; border: 1px solid #000; padding: 5px;" formControlName="country" />
    </label><br><br> -->

    <form class="formtest" [formGroup]="studentForm" (ngSubmit)="saveStudentDetails(studentForm.value)">
        <h4>SECTION I: TO BE COMPLETED BY STUDENT</h4><br>


        <div class="form-row">
          <div class="col-md-6 mb-3">
            <h5> Phone Number&nbsp;<mdb-icon far icon="question-circle"
                mdbTooltip="Please use an invalid phone number. If you are using an internationl phone number, please start with +(Country code)"
                placement="right"></mdb-icon>
            </h5>
            <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" minlength=11 maxlength=11
              style="border: 1px solid" formControlName="phone" (keypress)="keyPress($event)">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <h5>Address 1</h5>
            <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" style="border:1px solid; text-transform:uppercase" 
            formControlName="address1" disabled>
          </div>
          <div class="col-md-6 mb-3">
              <h5>Address 2</h5>
              <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" style="border:1px solid; text-transform:uppercase"
              formControlName="address2" disabled>
            </div>
        </div>
        
        <div class="form-row">
          <div class="col-3">
            <h5>Postcode</h5>
            <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" id="company"
            style="border: 1px solid #000; padding: 5px;" formControlName="postcode" disabled/>
          </div>
          <div class="col-3">
              <h5>City</h5>
              <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" id="company"
              style="border: 1px solid #000; padding: 5px; text-transform:uppercase" formControlName="city" disabled/>
          </div>
          <div class="col-3">
              <h5>State</h5>
              <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" id="company"
              style="border: 1px solid #000; padding: 5px; text-transform:uppercase" formControlName="state" disabled/>
          </div>
          <div class="col-3">
              <h5>Country</h5>
              <input mdbInputDirective [mdbValidate]="false" type="text" class="form-control" id="company"
              style="border: 1px solid #000; padding: 5px; text-transform:uppercase" formControlName="country" disabled/>
          </div>
        </div>
      <br>
      <br>
    <button mdbBtn color="blue" type="submit" mdbWavesEffect>
      Update <mdb-icon fas icon="user-edit"></mdb-icon>
    </button>
  </form>