<div fxLayout="column" fxLayoutAlign="space-around center"></div>
  <div class="bar">
      <input class="bar-input" type="radio" name="input" id="input_0" checked="false" disabled/>
      <div class="bar-view">
        <label class="bar-button" for="input_0"></label>
      </div>
      <input class="bar-input" type="radio" name="input" id="input_1" checked="false" disabled/>
      <div class="bar-view">
        <label class="bar-button" for="input_1"></label>
      </div>
      <input class="bar-input" type="radio" name="input" id="input_2" checked="false" disabled/>
      <div class="bar-view">
        <label class="bar-button" for="input_2"></label>
      </div>
      <input class="bar-input" type="radio" name="input" id="input_3" checked="true" (click)="clickAble()"/>
      <div class="bar-view"><br>
      <label class="bar-button" for="input_3"></label>
  </div>
</div><br><br><br>

<!-- For TESTING -->

<!-- <div fxLayout="column" fxLayoutAlign="space-around center">
  <center><h2>Mailing Address / Permenent Address</h2></center>
</div><br><br>

<div class="form">
    <form>
      <h4>SECTION I: TO BE COMPLETED BY STUDENT</h4><br>
      <h5> Phone Number&nbsp;<mdb-icon far icon="question-circle" 
        mdbTooltip="Please use an invalid phone number. If you are using an internationl phone number, please start with +(Country code)" 
        placement="right"></mdb-icon></h5>
      <input mdbInputDirective type="text" class="form-control"  minlength=10 maxlength=10 (keypress)="keyPress($event)" 
      style="max-width: 44%; border: 1px solid"><br>
      <h5> Address</h5>
      <div class="two-col">
          <div class="col1">
      <input mdbInputDirective type="text" class="form-control" style="border:1px solid">
      </div>
      <div class="col2">
          <input mdbInputDirective type="text" class="form-control" style="border:1px solid"><br>
      </div>
    </div>
    <label for="postcode" style="width: 350px; margin: 0 20px 0 0;">
        <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">Postcode</span>
        <input mdbInputDirective type="text" class="form-control" id="company" style="width: 350px; border: 1px solid #000; padding: 5px;"/>
      </label>
      <label for="city" style="width: 350px; margin: 0 25px 0 0;">
        <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">City</span>
        <input mdbInputDirective type="text" class="form-control" id="contact" style="width: 350px; border: 1px solid #000; padding: 5px;" />
      </label>
      <label for="state" style="width: 350px; margin: 0 20px 0 0;">
          <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">State</span>
          <input mdbInputDirective type="text" class="form-control" id="company" style="width: 350px; border: 1px solid #000; padding: 5px;"/>
        </label>
        <label for="country" style="width: 350px; margin: 0 20px 0 0;">
          <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">Country</span>
          <input mdbInputDirective type="text" class="form-control" id="contact" style="width: 350px; border: 1px solid #000; padding: 5px;" />
        </label><br><br>
        <button mdbBtn color="blue" (click)="nextPage()" type="button" mdbWavesEffect >
            Update <mdb-icon fas icon="user-edit"></mdb-icon>
          </button>
    </form>
</div> -->


<!-- For FYP Project -->

<div fxLayout="column" fxLayoutAlign="space-around center">
  <center><h2>Mailing Address / Permenent Address</h2></center>
</div><br><br>


<div class="form">
    <form [formGroup]="studentForm" (ngSubmit)="saveStudentDetails(studentForm.value)">
      <h4>SECTION I: TO BE COMPLETED BY STUDENT</h4><br>
      <h5> Phone Number&nbsp;<mdb-icon far icon="question-circle" 
        mdbTooltip="Please use an invalid phone number. If you are using an internationl phone number, please start with +(Country code)" 
        placement="right"></mdb-icon></h5>
      <input mdbInputDirective type="text" class="form-control"  minlength=11 maxlength=11 
      style="max-width: 44%; border: 1px solid" formControlName="s_pNumber" (keypress)="keyPress($event)"><br>
      <h5> Address</h5>
      <div class="two-col">
          <div class="col1">
      <input mdbInputDirective type="text" class="form-control" style="border:1px solid" formControlName="s_address">
      </div>
      <div class="col2">
          <input mdbInputDirective type="text" class="form-control" style="border:1px solid"><br>
      </div>
    </div>
    <label for="postcode" style="width: 350px; margin: 0 20px 0 0;">
        <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">Postcode</span>
        <input mdbInputDirective type="text" class="form-control" id="company" style="width: 350px; border: 1px solid #000; padding: 5px;"
        formControlName="s_pCode"/>
      </label>
      <label for="city" style="width: 350px; margin: 0 25px 0 0;">
        <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">City</span>
        <input mdbInputDirective type="text" class="form-control" id="contact" style="width: 350px; border: 1px solid #000; padding: 5px;"
        formControlName="s_city" />
      </label>
      <label for="state" style="width: 350px; margin: 0 20px 0 0;">
          <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">State</span>
          <input mdbInputDirective type="text" class="form-control" id="company" style="width: 350px; border: 1px solid #000; padding: 5px;"
          formControlName="s_state"/>
        </label>
        <label for="country" style="width: 350px; margin: 0 20px 0 0;">
          <span style="display: block; margin: 0 0 3px; font-size: 1.2em;">Country</span>
          <input mdbInputDirective type="text" class="form-control" id="contact" style="width: 350px; border: 1px solid #000; padding: 5px;" 
          formControlName="s_country"/>
        </label><br><br>
        <button mdbBtn color="blue" type="submit" mdbWavesEffect >
            Update <mdb-icon fas icon="user-edit"></mdb-icon>
          </button>
    </form>
</div>


    